.egg-dropdown {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.egg-menu {
    width: 500px;
    padding: 0.5rem;
    margin: 1rem;
    border: solid 1px #000;
    border-radius: 1rem;
}

@media (max-width: 425px) {
    .egg-menu {
        width: 250px;
    }
}